.main-title{
    text-align: center;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.main-item{
    width: 25%;
    padding: 10% 0;
}

.title{
    width: 170px;
}

.title span{
    font-size: 11px;
    line-height: 14px;
    display: block;
}

.showMore{
    padding: 2px;
}

.show-songs{
    display: flex;
}

.show-songs > div{
    margin-right: 10px;
}